---


---
<div
  class="center"
>


<div class="container">
  <p>
    Los mejores momentos de la vida merecen ser compartidos, gracias por celebrar con nosotros.
  </p>
</div>
</div>

<style>
  .center{
    display: flex;
    justify-content: center;
    background-color: #f2f1ed;
    margin-bottom: -200px;
  }
  .container {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
    z-index: 3;  /* Asegura que el contenedor esté por encima del gradiente */
    position: relative;  /* Asegura que el contenedor sea posicionado correctamente */
    transform: translateY(-70%);
    margin: 40px;  /* Centra el contenedor horizontalmente */
    max-width: 800px;  /* Limita el ancho del contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .container p {
    font-family: 'Andika', sans-serif !important;
    font-size: 1.2em;
  }
</style>